.filter-sidebar {
  grid-area: 1 / 1 / 6 / 2;
  ul {
    padding: 1rem 0;
  }

  .filter-sidebar__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
  }

  .btn-primary {
    color: var(--primary-color);
    background: none;
    outline: none;
    border: none;
  }
}
